/*This is a new comment*/
/* This is the second comment*/
/* This is the first version */
/* This is the second version */
/* This is the third version*/
/* This is the fourth version*/
.newDiv{
    margin:5px;
    height:200px;
    background-color:aqua;
    text-align:center;
    font-size: large;
}